@import '../mixins/table-mixin';

.service-page-container {
  display: flex;
  justify-content: center;
  // background-color:
  // rgba(221, 221, 221, 1);

  background-color: #f9f9f9;
  min-height: calc(100vh - 60px);
  .service-table {
    max-width: 1280px;
    margin: 54px 24px 30px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    // border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    & * {
      font-family: Roboto;
      font-style: normal;
      // font-weight: normal;
    }

    // @include tableComon;

    // .ant-spin-container::before {
    //   content: 'Danh sách dịch vụ';
    //   display: flex;
    //   align-items: center;
    //   color: #ffffff;
    //   padding-left: 30px;
    //   height: 45px;
    //   position: absolute;
    //   width: 95%;
    //   top: -26px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   background-color: #FF6060;
    //   border-radius: 10px;
    // }

    .ant-table-content {
      padding: 0 36px;

      // .ant-table-thead {
      //   tr {
      //     position: relative;
      //     // border-bottom: 1px solid #000000 !important;

      //     th {
      //       // padding-top: 40px !important;

      //       div {
      //         font-size: 18px;
      //         font-weight: bold;
      //       }
      //     }
      //   }
      // }

      // .ant-table-tbody {
      //   tr {
      //     td {
      //       div {
      //         font-size: 18px;
      //         font-weight: normal;
      //       }
      //     }
      //   }
      // }
    }

    .title {
      width: 95%;
      height: 45px;
      line-height: 45px;
      padding: 0px 20px;
      color: #ffffff;
      background: #ff6060;
      border-radius: 10px;
      font-size: 16px;
      margin-top: -24px;
    }

    .container-filter {
      width: 100%;
      // margin-top: 30px;
      padding: 10px 36px;
    }
  }
}

.dropdown-unit {
  min-width: 260px;

  & * {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
}
