.header-group-api-content {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 0.5px solid #e0d6d6;
    & > div {
        padding-left: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        border-right: 1px solid #e0d6d6;
    }
    .api-infor-name {
        flex-grow: 1;
    }
    .api-infor-author {
        flex-grow: 1;
    }
    .api-status {
        flex-grow: 3;
    }
    .version-create, .api-delete-item {
        cursor: pointer;
        flex-grow: 1;
        display: flex;
        align-items: center;
        & > span {
            margin-right: 5px;
        } 
        &:hover {
            color: #1890ff;
        }
    }
}
