
.pagination-wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    border-right: 1px solid #e4e4e7;
    border-bottom: 1px solid  #e4e4e7;
    border-left: 1px solid  #e4e4e7;
    padding: 0 10px;
    background-color: white;
    .show-current-page-size {
        margin-right: 30px;
    }
    .count-page {
        margin-right: 60px;
        * {
            font-size: 20px !important;
            color: #8A8A8A !important;
        }
    }
    .ant-pagination-simple {
        line-height: 30px;
        & * {
            font-size: 15px !important;
        }
        & > li {
            margin-left: 5px;
        }
    }
    .ant-pagination-simple-pager {
        display: none;
    }

    .ant-pagination-item-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
