
.table-common-wrapper {
    padding: 0 16px;
    .ant-table-body {
        &::-webkit-scrollbar-track
        {
            border-radius: 10px;
            width: 1px;
            height: 5px;
        }
        
        &::-webkit-scrollbar
        {   height: 5px;
            width: 1px;
        }
        
        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
        }
    }
}

.custom-table-paging-client {
    .ant-table-pagination {
        width: 100%;
        display: flex;
        align-items: center;
        & li:first-child {
            flex-grow: 1;
        }
    }
}

